<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inventory Management</title>
</head>
<body>
    <h1>Inventory Management</h1>

    <!-- Display Flash Messages -->
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>

    <ul>
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Inventory</a></li>
    </ul>
</body>
</html>
